
html{font-size:.625rem}
.goods_wall{position:relative}
.goods_wall .corner_notic{opacity:0}
.goods_wall .corner_notic[status='show']{opacity:1}
.goods_wall .poster_grid figure{margin-left:2.5px;margin-right:2.5px;height:100%;-webkit-border-radius:7px;border-radius:7px;box-sizing:border-box;background:#fff;border:1px solid #d2cfcd}
.goods_wall .poster_grid figure .pic_load{display:block;-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;border-top-left-radius:6px;overflow:hidden;position:relative;background:#fff url("../img/g_loading1.gif") no-repeat;background-size:32px 32px;background-position:center center}
.goods_wall .poster_grid figure .pic_load img{-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;border-top-left-radius:6px;position:absolute;top:0;width:100%}
.colFlag{position:absolute}.goods_wall{margin-left:auto;margin-right:auto;padding-bottom:10px}
.goods_wall .pic_load img{height:100%}
.goods_wall figcaption .price{color:#666;margin-left:5px}
.goods_wall figcaption .like{color:#666;margin-right:5px}
.goods_wall .corner_notic{position:absolute}
.goods_wall .poster_grid{position:absolute}
.goods_wall_box{position:relative}@media all and (min-width:1244px){.colFlag{z-index:7}}@media all and (max-width:1244px){.colFlag{z-index:6}}@media all and (max-width:1036.6666666666667px){.colFlag{z-index:5}}@media all and (max-width:829.3333333333334px){.colFlag{z-index:4}}@media all and (max-width:622px){.colFlag{z-index:3}}@media all and (max-width:414.6666666666667px){.colFlag{z-index:2}}.goods_wall figcaption{height:22px;padding-top:8px}.goods_wall figcaption .price{float:left}.goods_wall figcaption .like{float:right}
.goods_wall figcaption .i-heart{position:relative;cursor: pointer;}
.goods_wall figcaption .i-heart:before{content:"";position:absolute;left:-20px;height:14px;width:16.799999999999997px;background:url("../img/icon3.png") no-repeat;background-size:168px 182px;background-position:-19.599999999999998px -133px}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1;font-family:Arial}
.nvl-top{
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: height .2s ease-out .2s;
	border-bottom: 1px solid #d2d0cf;
	position: absolute;
	width: 100%;
	z-index: 10;
	height: 25px;
	background-color: #f7f7f7;
}
.menu-type{
	padding-left:2px;
	padding-right:2px;
	padding-top:3px;
	color:#707070;
	font-size:14px;
	font-weight:normal;
	cursor: pointer;
}
.menu-type-active{
	color:#f69;
}