.settings/*
srdz-common/.settings/*
srdz-dao/.settings/*
srdz-domain/.settings/*
srdz-service/.settings/*
srdz-web/.settings/*
srdz-web/src/main/resources/srdz-web.properties
.project
srdz-common/.project
srdz-dao/.project
srdz-domain/.project
srdz-service/.project
srdz-web/.project
.classpath
srdz-common/.classpath
srdz-dao/.classpath
srdz-domain/.classpath
srdz-service/.classpath
srdz-web/.classpath

srdz-common/target/*
srdz-dao/target/*
srdz-domain/target/*
srdz-service/target/*
srdz-web/target/*

srdz-common/src/main/java/META-INF/*
srdz-dao/src/main/java/META-INF/*
srdz-domain/src/main/java/META-INF/*
srdz-service/src/main/java/META-INF/*
srdz-web/src/main/java/META-INF/*

.DS_Store
