##导航条
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li><i class="icon-globe"></i><a href="javascript:void(0);" onclick="Topic.clickMenu(this);" data-url="console/advertising">广告管理</a></li>
		<li class="active">修改</li>
	</ul>
</div>
## content
<div class="page-content">
	<form action="console/advertising/update" method="POST" name="ADVERTISING_UPDATE" class="form-horizontal">
		<input type="hidden" name="id" value="$!{advertising.id}" />
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">广告名称 </label>
			<div class="col-sm-10">
				<input type="text" id="form-field-1" placeholder="广告名称,0-100个字符" class="col-xs-10 col-sm-12" name="name" value="$!{advertising.name}" />
			</div>
		</div>
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">图片地址 </label>
			<div class="col-sm-10">
				<input type="text" id="form-field-1" placeholder="广告图片地址,0-400个字符" class="col-xs-10 col-sm-12" name="imageUrl" value="$!{advertising.imageUrl}"/>
			</div>
		</div>
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">链接地址 </label>
			<div class="col-sm-10">
				<input type="text" id="form-field-1" placeholder="广告链接地址,0-400个字符" class="col-xs-10 col-sm-12" name="linkUrl" value="$!{advertising.linkUrl}"/>
			</div>
		</div>
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">显示位置 </label>
			<div class="col-sm-10">
				<div class="radio">
					<label>
						<input name="location" type="radio" class="ace" value="1" #if($!{advertising.location}==1) checked="true" #end/>
						<span class="lbl">首页(banner模式)</span>
					</label>
					<label>
						<input name="location" type="radio" class="ace" value="2" #if($!{advertising.location}==2) checked="true" #end/>
						<span class="lbl">商品列表页(feed模式)</span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">广告显示方式 </label>
			<div class="col-sm-10">
				<div class="radio">
					<label>
						<input name="display" type="radio" class="ace" value="1" #if($!{advertising.display}==1) checked="true" #end/>
						<span class="lbl">banner模式</span>
					</label>
					<label>
						<input name="display" type="radio" class="ace" value="2" #if($!{advertising.display}==2) checked="true" #end/>
						<span class="lbl">feed模式</span>
					</label>
				</div>
			</div>
		</div>
		
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">生效开始时间 </label>
			<div class="col-sm-10">
				<div class="input-group">
					<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="yyyy-mm-dd" name="startTime1" value="$tool.dateFormat($!{advertising.startTime})"/>
					<span class="input-group-addon">
						<i class="icon-calendar bigger-110"></i>
					</span>
				</div>
			</div>
		</div>
		
		<div class="form-group" style="height:30px;">
			<label class="col-sm-2 control-label no-padding-right" for="form-field-1">生效结束时间 </label>
			<div class="col-sm-10">
				<div class="input-group">
					<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="yyyy-mm-dd" name="endTime1" value="$tool.dateFormat($!{advertising.endTime})"/>
					<span class="input-group-addon">
						<i class="icon-calendar bigger-110"></i>
					</span>
				</div>
			</div>
		</div>
		
	</form>
	##button
		<div class="clearfix form-actions" >
			<div class="col-md-offset-3 col-md-9" >
				<button class="btn btn-success" onclick="Topic.Console.updateAdvertising();">
					<i class="icon-save align-top bigger-125"></i>
					保存
				</button>
				<button class="btn btn-danger" onclick="Topic.Console.loadAdvertising();">
					<i class="icon-reply align-top bigger-125"></i>
					取消
				</button>
			</div>
		</div>
</div>

##初始化函数
<SPAN class="script" page-load="Topic.Console.initAdvertising();"/>