##导航条
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li class="active"><a href="javascript:void(0);" onclick="Topic.clickMenu(this);" data-url="console/topic/index">topic item</a></li>
		<li><i class="icon-globe"></i><a href="#">topic item commodity</a></li>
	</ul>
</div>
## content
<div class="page-content">
	<input type="hidden" id="topicId" value="$!{topic.id}"> 
	<div class="input-group fl x1">
	  <span class="input-group-addon">title</span>
	  <input type="text" class="form-control" name="title" id="topic_title" value="${topic.title}" disabled="dsabled">
	</div>
	<div class="input-group fl x1">
	  <span class="input-group-addon">group</span>
	  <input type="text" class="form-control" name="title" id="topic_title" value="#if($topic.group == 1) 校园 #elseif($topic.group == 2)清纯 #elseif($topic.group == 3) 气质 #elseif($topic.group == 4)首页 #else 未知 #end" disabled="dsabled">
	</div>
	##topic 图片区域
	<div class="col-sm-12" style="padding:0px;">
		<div class="widget-box ">
			<div class="widget-header">
				<h4 class="lighter smaller">
					<i class="icon-comment blue"></i>
					图片展示区域
				</h4>
			</div>
			##图片内容
			<div class="widget-body">
				<div class="widget-main no-padding">
					<div class="dialogs dialogsimgs">
						#foreach($img in $imgs)
							<div style="float:left;width:100px;height:100px;margin-left:5px;margin-top:5px;">
								<img src="${img.url}" style="width:100%;height:100%;"/>
							</div>
						#end
					</div>
				</div>
			</div>
			##图片内容---end
		</div>
	</div>
	
	##商品展示区域
	<div class="col-sm-12" style="padding:0px;">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="lighter smaller">
					<i class="icon-comment blue"></i>
					商品选择区域
				</h4>
			</div>
			##商品内容
			<div class="widget-body">
				<div class="widget-main no-padding">
					<div class="dialogs dialogscommoditys">
						#foreach($commodity in $commoditys)
							<div class="itemdiv dialogdiv">
								<div class="user">
									<img  src="${commodity.imgurl}">
								</div>
								<div class="body">
									<div class="time" id="${commodity.id}" style="#if($tool.isList(${topic.commodityIds},${commodity.id})=='true') display:block; #else display:none;#end" exists="#if($tool.isList(${topic.commodityIds},${commodity.id})=='true')exists #else no #end">
										<i class="icon-time"></i>
										<span class="green">商品已经添加</span>
									</div>
									##基本信息
									<div class="name">
										<a href="#">${commodity.title}</a>
									</div>
									<div class="text">${commodity.desc}</div>
									##按钮
									<div class="tools action-buttons">
										<a href="javascript:void(0);" class="blue" title="添加商品" onclick="Topic.Console.addTopicCommodity('$!{topic.id}','${commodity.id}');">
											<i class="icon-pencil bigger-125"></i>
										</a>
	
										<a href="javascript:void(0);" class="red" title="删除商品" onclick="Topic.Console.delTopicCommodity('$!{topic.id}','${commodity.id}');">
											<i class="icon-remove bigger-125"></i>
										</a>
									</div>
								</div>
							</div>
						#end
					</div>
				</div>
			</div>
			##商品内容----->end
		</div>
	</div>
</div>

<SPAN class="script" page-load="Topic.Console.topicCommodityInit()"> </SPAN>