##自定义类库,table 的分页标签
#macro(showPage $page $pageURL $container $form $pageSize)
	<div class="pagebar" d-container="$!container" d-url="$!pageURL" d-currentpage="$page.currentPage" d-form="$!form" d-pagesize="$!pageSize">
		总共:($!{page.allCount})条,总共($!{page.allPage})页,当前显示($!{page.currentPage})页,每页显示($!{page.pageSize})条,当前显示($!{page.start}-$!{page.end})条
		<ul class="pagination" style="margin:1px 0; float:right;">
			##是否允许前翻页
			<li #if($page.currentPage==1) class="disabled" #end><a href="javascript:void(0);" onclick="Topic.Table.Page('$!container','$!pageURL','$page.previousPage','$!form','$!pageSize');"><i class="icon-double-angle-left"></i></a></li>
			#foreach($i in $page.pagebars)
				<li #if($page.currentPage == $i) class="active" #end ><a href="javascript:void(0);" onclick="Topic.Table.Page('$!container','$!pageURL','$!{i}','$!form','$!pageSize');">$!{i}</a></li>
			#end
			<li #if($page.currentPage==$page.allPage) class="disabled" #end><a href="javascript:void(0);" onclick="Topic.Table.Page('$!container','$!pageURL','$page.nextPage','$!form','$!pageSize');"><i class="icon-double-angle-right"></i></a></li>
		</ul>
	</div>
#end

##百度统计js代码
#macro(jsCount)
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?fe3a6b512762b5462520b102688cc9dc";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
#end

##分享
#macro(jiathis $id $url $title $pic)
	<div data-role="popup" id="$!id" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="width:100%;">
	    <div role="main" class="ui-content" style="padding-top:0px; padding-bottom:0px;padding-left: 0px;margin-right: 0px;padding-right: 0px;">
	        <div class="row">
				<div class="col-xs-4 col-sm-2 col-md-2" >
					<a target="_blank" href="http://www.jiathis.com/send/?webid=qzone&url=$!url&title=$!title&uid=2006831#if($!{pic} !='')&pic=$!pic #end" class="btn btn-app btn-light no-radius btn-sm" title="分析到QQ空间" style="margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
						<div>
							<image src="$!{base_static_url}/jiathis/qzone.gif" class="img-circle" style="width:50px;height:50px;"></image>
						</div>
 						<div>
 							<span class="">QQ空间</span>
					    </div>
					</a>
				</div>
				<div class="col-xs-4 col-sm-2 col-md-2" >
					<a target="_blank"  href="http://www.jiathis.com/send/?webid=tqq&url=$!url&title=$!title&uid=2006831#if($!{pic} !='')&pic=$!pic #end" class="btn btn-app btn-light no-radius btn-sm" title="分析到QQ空间" style="margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
						<div>
							<image src="$!{base_static_url}/jiathis/qqmb.gif" class="img-circle" style="width:50px;height:50px;"></image>
						</div>
 						<div>
 							<span class="">腾讯微博</span>
					    </div>
					</a>
				</div>
				<div class="col-xs-4 col-sm-2 col-md-2" >
					<a target="_blank"  href="http://www.jiathis.com/send/?webid=tsina&url=$!url&title=$!title&uid=2006831#if($!{pic} !='')&pic=$!pic #end" class="btn btn-app btn-light no-radius btn-sm" title="分析到QQ空间" style="margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
						<div>
							<image src="$!{base_static_url}/jiathis/sinaminiblog.gif" class="img-circle" style="width:50px;height:50px;"></image>
						</div>
 						<div>
 							<span class="">新浪微博</span>
					    </div>
					</a>
				</div>
				<div class="col-xs-4 col-sm-2 col-md-2" >
					<a target="_blank"  href="http://www.jiathis.com/send/?webid=renren&url=$!url&title=$!title&uid=2006831#if($!{pic} !='')&pic=$!pic #end" class="btn btn-app btn-light no-radius btn-sm" title="分析到QQ空间" style="margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
						<div>
							<image src="$!{base_static_url}/jiathis/renren.gif" class="img-circle" style="width:50px;height:50px;"></image>
						</div>
 						<div>
 							<span class="">人人网</span>
					    </div>
					</a>
				</div>
				<div class="col-xs-4 col-sm-2 col-md-2" >
					<a target="_blank"  href="http://www.jiathis.com/send/?webid=douban&url=$!url&title=$!title&uid=2006831#if($!{pic} !='')&pic=$!pic #end" class="btn btn-app btn-light no-radius btn-sm" title="分析到QQ空间" style="margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
						<div>
							<image src="$!{base_static_url}/jiathis/douban.gif" class="img-circle" style="width:50px;height:50px;"></image>
						</div>
 						<div>
 							<span class="">豆瓣</span>
					    </div>
					</a>
				</div>
				<div class="col-xs-4 col-sm-2 col-md-2" >
					<a target="_blank"  href="http://www.jiathis.com/send/?webid=xiaoyou&url=$!url&title=$!title&uid=2006831#if($!{pic} !='')&pic=$!pic #end" class="btn btn-app btn-light no-radius btn-sm" title="分析到QQ空间" style="margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
						<div>
							<image src="$!{base_static_url}/jiathis/qqxiaoyou.gif" class="img-circle" style="width:50px;height:50px;"></image>
						</div>
 						<div>
 							<span class="">朋友网</span>
					    </div>
					</a>
				</div>
			</div>
	        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">取消</a>
	    </div>
	</div>
#end

#macro(footer)
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" style="/*background:#fff!important;*/">
		<div class="col-xs-3 " style="padding-left:2px;padding-right:2px;text-align:center;">
			<a href="$!{base_url}" data-transition="slide" style="max-width:30px;height:30px;">
				<i class="icon-home" style="font-size:18px;margin-top:0px;padding-top:0px;"></i>
				<div style="font-size:8px;color:#707070;text-shadow:none;">秀吧</div>
			</a>
		</div>
		<div class="col-xs-3 " style="padding-left:2px;padding-right:2px;text-align:center;">
			<a href="#" data-transition="slide" style="max-width:30px;height:30px;">
				<i class="icon-heart-empty" style="font-size:18px;margin-top:0px;padding-top:0px;"></i>
				<div style="font-size:8px;color:#707070;">喜欢</div>
			</a>
		</div>
		<div class="col-xs-3 " style="padding-left:2px;padding-right:2px;text-align:center;">
			<a href="#" data-transition="slide" style="max-width:30px;height:30px;">
				<i class="icon-comments-alt" style="font-size:18px;margin-top:0px;padding-top:0px;"></i>
				<div style="font-size:8px;color:#707070;">吧台</div>
			</a>
		</div>
		<div class="col-xs-3 " style="padding-left:2px;padding-right:2px;text-align:center;">
			<a href="$!{base_url}cus/center" data-transition="slide" style="max-width:30px;height:30px;">
				<i class="icon-user" style="font-size:18px;margin-top:0px;padding-top:0px;"></i>
				<div style="font-size:8px;color:#707070;">我的</div>
			</a>
		</div>
	</div>
#end