<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>美丽秀吧（meinvxiuba.com）- 美丽就要大胆秀出来</title>
        <meta name="keywords" content="meinvxiuba、美女秀吧、美女、美鞋、美腿、美胸、秀美丽、秀美腿、秀身材、秀性感、性感、幸福、秀幸福、火辣、秀火辣">
		<meta name="description" content="美女秀吧（meinvxiuba.com,美丽就要大胆秀出来">
        <link href="$!{base_static_url}/img/favicon.jpg" rel="shortcut icon">
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/ace/bootstrap.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/ace/ace.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/ace/font-awesome.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/jquerymobile/jquery.mobile-1.4.5.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/jquerymobile/jquery.mobile.theme-1.4.5.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/css/index.css?v=$!{v}" />
    </head>
    <body>
    	$!{screen_content}
 	</body>
</html>
<script type="text/javascript" src="$!{base_static_url}/js/jquery-1.8.3.min.js?v=${v}"></script>
<script type="text/javascript" src="$!{base_static_url}/plugin/jquerymobile/jquery.mobile-1.4.5.min.js?v=${v}"></script>
<script type="text/javascript" src="$!{base_static_url}/plugin/ace/bootstrap.min.js?v=${v}"></script>
<script type="text/javascript" src="$!{base_static_url}/js/base.js?v=${v}"></script>
<script type="text/javascript" src="$!{base_static_url}/js/index.js?v=${v}"></script>
<script type="text/javascript">
	Topic.rootUrl="$!{base_url}";
	Topic.staticUrl="$!{base_static_url}";
</script>