<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>美女秀吧（meinvxiuba.com）- 美丽就要大胆秀出来</title>
        <meta name="keywords" content="meinvxiuba、美女秀吧、美女、美鞋、美腿、美胸、秀美丽、秀美腿、秀身材、秀性感、性感、幸福、秀幸福、火辣、秀火辣">
		<meta name="description" content="美女秀吧（meinvxiuba.com,美丽就要大胆秀出来">
        <link href="$!{base_static_url}/img/favicon.jpg" rel="shortcut icon">
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/ace/bootstrap.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/ace/ace.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/ace/font-awesome.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/jquerymobile/jquery.mobile-1.4.5.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/plugin/jquerymobile/jquery.mobile.theme-1.4.5.min.css?v=$!{v}" />
        <link rel="stylesheet" type="text/css" href="$!{base_static_url}/css/index.css?v=$!{v}" />
    </head>
    <body>
    	##百度统计代码
		#jsCount()
    	<div data-role="page" id="index" data-fullscreen="true">
    		##head
    		<div data-role="header" data-theme="b" data-position="fixed" data-backbtn="false">
    			<h1 style="font-size:1.3em;">美女秀吧</h1>
    			<a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" title="分享" class="ui-btn-right ui-btn ui-shadow ui-corner-all ui-icon-action ui-btn-icon-notext">分享</a> 
    		</div>
    		
    		##content
    		<div data-role="content">
    			
    			#foreach($group in $groups)
    				#if($!{velocityCount} % 3 ==1)
    					<div class="row">
				    #end
					    <div class="col-xs-4" style="padding-left:2px;padding-right:2px;">
							<a href="#" class="btn btn-app btn-primary btn-sm" title="$!{group.remark}" style="margin-bottom:10px;padding-top:2px;padding-bottom:4px;">
								<div>
									<image src="$!{group.iconUrl}" class="img-circle" style="width:50px;height:50px;"></image>
								</div>
	     						<div>
	     							<span class="">$!{group.name}</span>
							    </div>
							    <span class="badge badge-warning badge-left">new</span>
							</a>
						</div>
				    #if($!{velocityCount} % 3 ==0)
				    	</div>
				    #end
			    #end
			    #if($groups.size % 3 !=0)
			    	</div>
    			#end
    		</div>
    		
    		##分享组件
		    #jiathis("$!{base_url}" "美女秀吧")
	    </div>
 	</body>
</html>
<script type="text/javascript" src="$!{base_static_url}/js/jquery-1.8.3.min.js?v=${v}"></script>
<script type="text/javascript" src="$!{base_static_url}/plugin/jquerymobile/jquery.mobile-1.4.5.min.js?v=${v}"></script>