##首页
##百度统计代码
#jsCount()
<div data-role="page" id="group-icon" data-fullscreen="true" style="background-color:#F5EDF0;">
	##head
	<div data-role="header" data-theme="b" data-position="fixed" data-backbtn="false">
		<a title="返回" class="ui-btn-left ui-btn ui-shadow ui-corner-all ui-icon-back ui-btn-icon-notext" data-rel="back" data-transition="slide" >返回</a>
		<h1 style="font-size:1.3em;padding-bottom: 4px;padding-top: 5px;">$!{group.name}</h1>
		<a href="#group-popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" title="分享" class="ui-btn-right ui-btn ui-shadow ui-corner-all ui-icon-action ui-btn-icon-notext">分享</a> 
	</div>
	##content
	##分类导航菜单
	<div class="row-fluid nvl-top" style="top: 32px;position: fixed;">
		#foreach($type in $!types)
			<div class="col-xs-3 col-sm-2 col-md-2 menu-type #if($!{velocityCount} == 1) menu-type-active #end" data-type="$!{type.id}" data-display="$!{type.displayType}" data-order="$!{type.orderType}" onclick="Topic.index.click(this,'container',$!{type.displayType})">
				<span> $!{type.name} </span>
			</div>
		#end
	</div>
	##图片墙
	<div id="container" class="dialogs goods_wall " style="padding-top:10px;overflow:hidden;"></div>
	##</div>
	<script type="text/javascript">
		fml.data = $!{json};
	</script>
	##定义模板数据
	<script type="text/html" id="template">
		<div class="poster_grid poster_wall" twitter_id="<?=v.id?>" style="width:<?= fml.colWidth?>px;" poster_height="<?=v.imageHeight?>">
			<figure>
				<a class="pic_load" href="<?= v.productUrl ?>" style="height:<?=v.imageHeight ?>px;" target='_blank' onclick="Topic.index.clickProduct('<?=v.id?>');return true;">
					<img src="<?= v.imageUrl ?>" alt="<?= v.title ?>" title="<?= v.remark ?>"/>
				</a>
				<figcaption>
					<span class="price">￥<?= v.price?></span>
					<span class="like i-heart" onclick="Topic.index.pariseProduct('<?=v.id?>');" id='heart-<?=v.id?>'><?= v.praiseCount?></span>
				</figcaption>
			</figure>
		</div>
	</script>
		
	##分享组件
    #jiathis("group-popupDialog" "$!{base_url}group/$!{group.id}" "$!{group.name}" "")
</div>