##用户主界面
##百度统计代码
#jsCount()
<div data-role="page" id="index" data-fullscreen="true" style="background:#fff!important;">
	##content
	<div data-role="content" style="margin-right:auto;margin-left:auto;padding:0px;" class="container-fluid " >
		##用户账号信息
		<div style="margin:0px;padding:0px;width:100%;height:120px;background: #438eb9;">
			##用户头像
			<div style="margin-right:auto;margin-left:auto;width:80px;height:80px;padding-top:5px;">
				<image src="$!{base_static_url}/img/avatars/profile-pic.jpg" class="img-circle" style="width:80px;height:80px;"></image>
				#if($!{isLogin} == 'true')
					##用户名称
					<div style="margin-top:5px;text-align:center;">
						<span style="font-weight:normal;text-shadow:none;color:#fff;">$!{customer.name}</span>
					</div>
				#else
					##用户名称
					<div style="margin-top:5px;text-align:center;">
						<a href="$!{base_url}cus/login" style="cursor:pointer;" data-transition="slideup">
							<span style="font-weight:normal;text-shadow:none;color:#fff;">点击登陆</span>
						</a>
					</div>			
				#end
			</div>
		</div>
		
		##用户相关
		<div id="accordion" class="accordion-style1 panel-group" style="padding-top:5px;padding-bottom:5px;">
			##消息
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" href="#">
							<i class="icon-chevron-right icon-bell"></i>
							消息
							<i class="icon-chevron-right icon-on-right" style="float:right;"></i>
						</a>
					</h4>
				</div>
			</div>
			##用户信息
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" href="#">
							<i class="icon-chevron-right icon-user-md"></i>
							用户信息
							<i class="icon-chevron-right icon-on-right" style="float:right;"></i>
						</a>
					</h4>
				</div>
			</div>
			##吐槽
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" href="#">
							<i class="icon-chevron-right icon-hand-down"></i>
							吐槽
							<i class="icon-chevron-right icon-on-right" style="float:right;"></i>
						</a>
					</h4>
				</div>
			</div>
		</div>
		
		##用户商品相关
		<div id="accordion" class="accordion-style1 panel-group" style="padding-top:5px;padding-bottom:5px;margin-top:10px;">
			##我的喜欢
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" href="#">
							<i class="icon-chevron-right icon-heart-empty"></i>
							我的喜欢
							<i class="icon-chevron-right icon-on-right" style="float:right;"></i>
						</a>
					</h4>
				</div>
			</div>
			##我的关注
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" href="#">
							<i class="icon-chevron-right icon-signout"></i>
							我的关注
							<i class="icon-chevron-right icon-on-right" style="float:right;"></i>
						</a>
					</h4>
				</div>
			</div>
			##我的圈子
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" href="#">
							<i class="icon-chevron-right icon-github-alt"></i>
							我的圈子
							<i class="icon-chevron-right icon-on-right" style="float:right;"></i>
						</a>
					</h4>
				</div>
			</div>
		</div>
		##退出登录
		<button class="btn btn-danger btn-block" onclick="window.location.href='$!{base_url}cus/logout'" data-ajax="false">退&nbsp;出</button>
	</div>
	## foot
	#footer()
</div>
