##客户登陆界面
##百度统计代码
#jsCount()
<div data-role="page" id="index" data-fullscreen="true" style="background:#fff!important;">
	##head
	<div data-role="header" data-theme="b" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
		<a title="返回" class="ui-btn-left ui-btn ui-shadow ui-btn-icon-left ui-icon-back" data-rel="back" data-transition="slideup" >返回</a>
		<span class="ui-title" style="height:40px;"></span>
		<div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
	        <a href="$!{base_url}cus/login" class="ui-btn ui-btn-icon-right ui-icon-user" data-transition="slideup">登陆</a>
	    </div>
	</div>
	##content
	<div data-role="content" style="margin-right:auto;margin-left:auto;padding:10px;" class="container-fluid " >
		##登陆异常信息提示
		#if($msg)
			<h4 class="lighter">
				<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
				<a href="javascript:void(0);" data-toggle="modal" class="pink">$!{msg}</a>
			</h4>
		#end
		##用户注册信息
		<form action="$!{base_url}cus/doRegistry" method="post" id="CUSTOMER_DO_REGISTRY" class="form-horizontal" data-ajax="false">
			<div>
				<div class="input-group" style="width:100%;">
					<input class="form-control" style="width:100%;" id="account" type="text" name="account" style="width:100%;" placeholder="登陆账号(4-20位字符,支持数字/字母/-/_组合)" value="" onfocus="if($(this).val() == ''){$(this).removeClass('err').val('');}"/>
				</div>
			</div>
			<div>
				<div class="input-group" style="width:100%;">
					<input class="form-control" style="width:100%;" id="password" type="text" name="passwd" style="width:100%;" placeholder="密码" value="" onfocus="if($(this).val() == ''){$(this).removeClass('err').val('');}"/>
				</div>
			</div>
			<div>
				<div class="input-group" style="width:100%;">
					<input class="form-control" style="width:100%;" id="password1" type="text" name="passwd1" style="width:100%;" placeholder="确认密码" value="" onfocus="if($(this).val() == ''){$(this).removeClass('err').val('');}"/>
				</div>
			</div>
		</form>
		<button class="btn btn-danger btn-block" onclick="Topic.index.doRegistry();" >注&nbsp;册</button>
	</div>
</div>
